In [19]:
import os
from pathlib import Path
import pandas as pd
import matplotlib.pyplot as plt
import sys

In [20]:
data_file = "data/rdu-weather-history.csv"
df= pd.read_csv(data_file, delimiter=";")
df.head(5)

         date  tmin  tmax  prcp  snow  snwd   awnd
0  2017-01-01    41    50  0.54   0.0   0.0   6.49
1  2017-01-08    15    27  0.00   0.0   1.2   4.92
2  2017-01-16    44    51  0.00   0.0   0.0   4.47
3  2017-01-23    43    60  0.28   0.0   0.0   9.84
4  2017-02-07    49    76  0.00   0.0   0.0  12.53

In [21]:
df.describe()

,tmin,tmax,prcp,snow,snwd,awnd
count,1977.000000,1977.000000,1977.000000,1977.000000,1976.000000,1973.000000
mean,51.088012,72.298938,0.135771,0.012838,0.016953,6.074805
std,15.889527,15.796087,0.370521,0.227433,0.215338,2.954427
min,4.000000,27.000000,0.000000,0.000000,0.000000,0.000000
25%,37.000000,60.000000,0.000000,0.000000,0.000000,3.800000
50%,52.000000,74.000000,0.000000,0.000000,0.000000,5.800000
75%,66.000000,86.000000,0.060000,0.000000,0.000000,7.800000
max,78.000000,102.000000,4.960000,7.000000,5.900000,20.360000

In [22]:
df['date'] = pd.to_datetime(df['date']).dt.date

df['month'] = pd.to_datetime(df['date']).dt.month
df['year'] = pd.to_datetime(df['date']).dt.year

monthly_avg = df.groupby('month').agg({
    'tmin': 'mean',
    'tmax': 'mean',
    'prcp': 'mean',
    'snow': 'mean'
}).rename(columns={
    'tmin': 'tmin_avg',
    'tmax': 'tmax_avg',
    'prcp': 'prcp_avg',
    'snow': 'snow_avg'
}).reset_index().sort_values(by='month')

In [23]:
monthly_avg

    month   tmin_avg   tmax_avg  prcp_avg  snow_avg
0       1  32.360215  51.978495  0.147419  0.063333
1       2  37.875740  59.331361  0.112959  0.014793
2       3  41.795699  63.543011  0.108710  0.010215
3       4  49.116667  73.244444  0.152944  0.000000
4       5  59.317204  80.881720  0.140430  0.000000
5       6  66.226667  86.500000  0.146200  0.000000
6       7  70.400000  91.425806  0.129742  0.000000
7       8  69.554839  89.070968  0.177742  0.000000
8       9  63.860000  83.786667  0.128200  0.000000
9      10  53.587097  75.425806  0.145161  0.000000
10     11  38.946667  61.486667  0.117533  0.000000
11     12  35.993548  56.509677  0.123161  0.059355

In [24]:

plt.figure(figsize=(12, 6))

plt.plot(monthly_avg["month"], monthly_avg["tmin_avg"], marker='o', label='Avg Min Temperature (°F)', color='blue')
plt.plot(monthly_avg["month"], monthly_avg["tmax_avg"], marker='o', label='Avg Max Temperature (°F)', color='red')

ax2 = plt.gca().twinx()
ax2.bar(monthly_avg["month"], monthly_avg["prcp_avg"], alpha=0.3, color='green', label='Avg Precipitation (inches)')

plt.title('Monthly Average Temperature and Precipitation')
plt.xlabel('Month')
plt.ylabel('Temperature (°F)')
ax2.set_ylabel('Precipitation (inches)')
plt.xticks(monthly_avg["month"])
plt.grid()

plt.legend(loc='upper left')
ax2.legend(loc='upper right')

# plt.show()
plt.close()

In [25]:
from lib.helper import save_plot
save_plot(plt, "plots/temp_precip_plot")

Plot saved as plots/temp_precip_plot.png